{% load static %}
<!doctype html>
<html lang = "ko">
  <head>
  <meta charset="utf-8">
  <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=0">
  <link rel="stylesheet" type = "text/css" href="{% static "bootstrap.min.css" %}">
  <link rel="stylesheet" type = "text/css" href="{% static 'question_list.css'%}">
    <title>파이보</title>
  </head>
  
  <body>
  {% include "navbar.html" %}
  {% block content %}
  {% endblock %}
  <script src="{% static 'bootstrap.min.js' %}"></script>
  <!-- 자바스크립트 Start -->
  {% block script %}
  {% endblock %}
<!-- 자바스크립트 End -->
  </body>
</html>
